body{
	background: rgb(50,50,50);
}

.marginized-top{
	margin-top: 80px;
}

.page-header{
	margin: 10% 0 20px;
	border-bottom: 0px;
}

.container{

	}


.main-nav{
	background:rgb(251,165,26);
	font-family: Rockwell;
	font-size: 18px;
	color: rgb(50,50,50);
}

.main-nav ul{
	color: rgb(50,50,50);
}

.navbar-collapse {
max-height: 340px;
margin: 0px auto;
}

.navbar-nav li a {
padding-top: 15px;
padding-bottom: 15px;
color:rgb(50,50,50);
padding-right: 5px;
text-align: center;
}

.navbar-nav li a:hover {
color:white;
background-color: transparent;
}

.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background-color: rgb(50,50,50);
}

.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
border: 1px solid rgb(50,50,50);
border-radius: 4px;
}

.navbar-nav {
float: left;
margin-left: 15px;

}

#navbar-pic{
list-style:none;
padding:1px;
margin:auto;

margin-bottom: 30%;
position: relative;

}

#navbar-pic li{
  float:left;
  margin-right:1px;
  position:relative;
  top:4px;
  display: inline;
}
#navbar-pic a{
  display:block;
  padding:;
}

/*CREW STAGE*/

#back_crew{
	
}

#link1{
	margin-top: -84%;
	margin-left: 8%
}

#link2{
	margin-left: 88%;
	margin-top: 13%;
}

.clouds1{
	margin-top: 8%;
}

.clouds2{
	margin-top: -20%;
}

.line1{
	margin-left: 75%;
	margin-top: -15%;
}

#up{
	margin-top: -73%;
}

/*IMOTION*/

#imotion_logo{
	margin-top: -35%;
	margin-left: 22%;

}

#link3{
	margin-top: -25%;
	margin-left: 50%;
}

.imotion{

}

#content_imotion{
	z-index: -1;
	margin-top: 13%;
	background-color: rgb(251,165,26);
}

.description_imotion{
	background-color: rgb(251,165,26);
	width: 55%;
	margin-top: 10%;
	margin-left: 12%;
}

.description_imotion small{
	background-color: rgb(251,165,26);
	font-weight: bold;
	font-size: 100%;
	color: rgb(185,39,137);
	font-family: Rockwell;
}

#pic_left img{
	width: 30%;
}

#up2{
	margin-top: -220%;
}

#imotion_specs{
	margin-top: -40%;
	margin-left: 35%;
}

#rocket_des{
	margin-left: 79%;
	margin-top: -20%;
}

#line2{
	margin-left: 75.2%;
	margin-top: -3%;
}

/*AIRX*/

#phone{
	margin-top: -35%;
	margin-left: 5%;
}

#airx_des{
	background-color: rgb(251,165,26);
	width: 10%;
	margin-top: -58%;
	margin-left: 40%;
}

#airx_des small{
	background-color: rgb(251,165,26);
	font-weight: bold;
	font-size: 100%;
	color: rgb(185,39,137);
	font-family: Rockwell;
}

#cloud_right{
	margin-top: -22%;
	margin-left: 42%;
}

#line3{
	margin-left: 75.2%;
	margin-top: -5%;
}

#airx_rocket_des{
	margin-top: -80%;
	margin-left: 50%;
}

/*FIRST STAGE*/

#fstage{
	margin-top: -55%;
	margin-left: 25%;
}

#text_awe{
	margin-top: -17%;
	margin-left: 62%;
}

/*Thrust and Manifest*/

.TnM{
	background-color: rgb(251,165,26);
}

#TnM_1st{
	margin-left: 45%;
	margin-top:25%;
}

#TnM_cloud1{
	margin-top: -75%;
}

#TnM_cloud2{
	margin-top: -70%;
}

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
	.header-picture{
		display:none;
	}

	.navpic{
		display:none;
	}



}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.description_imotion{
		font-size: 10%;
		height: 10%;
	}

	#rocket_des{
		width: 30%;
	}

	#airx_des{
		font-size: 10%;
		height: 10%;
	}

}
